<div class="row-fluid">
    <a href="/{{majors}}/insert" class="btn btn-success">Thêm dữ liệu</a>
</div>
<div class="get">
    <table class="table-bordered" border="1">
        <tr>
            <th>title</th>
            <th>intent</th>
            <th>url</th>
            <th></th>
        </tr>
        {{#each items}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.intent}}</td>
                <td>{{this.url}}</td>
                <td>
                    <button id="btnXoa" onclick="document.getElementById('myModal').style.display = 'block'; " class="btn btn-danger">Xóa</button>
                    <a href="/oto/update/{{this._id}}" class="btn btn-info">Sửa</a>
                    <input id="_id" type="hidden" value="{{this._id}}">
                </td>
            </tr>

        {{/each}}
    </table>
</div>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="document.getElementById('myModal').style.display = 'block'; ">&times;</span>
        <h2>Xóa dòng dữ liệu này</h2>
        <button class="btn btn-danger" id="btnDongY" onclick="var id = document.getElementById('_id').value; window.location.href = '/oto/delete/'+id;">Đồng ý</button>
        <a href=""></a>
        <button class="btn btn-inverse" onclick="document.getElementById('myModal').style.display = 'none'">Hủy bỏ</button>
    </div>

</div>
