<section id="report">
   {{#if stt}}
       <h2>{{report}}</h2>
   {{/if}}
</section>
<form action="/setup/update" method="post">
        <div style="color: #f5e309; font-weight:bold ">menu lồng</div>
        <div class="">
            {{#each item1}}
                <label for="title_Menu">title</label>
                <input type="text" id="title_Menu" name="title_Menu" value="{{this.title}}">
            {{/each}}
        </div>
        <div>
            <div class="table-responsive" style="color: #f5e309; font-weight:bold ">menu item</div>
            <table border="1" class="table">
                {{#each item1_child}}
                    <tr>
                        <td>Menu Item {{@index}}</td>
                        <td>
                            <label for="title{{@index}}">title</label>
                            <input type="text"  id="title{{@index}}" name="title{{@index}}" value="{{this.title}}">
                        </td>
                        <td>
                            <label for="payload{{@index}}">payload</label>
                            <input type="text"  id="payload{{@index}}" name="payload{{@index}}" value="{{this.payload}}">
                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>
    <hr>
        <div>
            <div style="color: #f5e309; font-weight:bold ">menu lồng</div>
            {{#each item2}}
                <label for="title_ButtonURL">title</label>
                <input type="text" id="title_ButtonURL" name="title_ButtonURL" value="{{this.title}}">
                <label for="url_ButtonURL">title</label>
                <input type="text" id="url_ButtonURL" name="url_ButtonURL" value="{{this.url}}">
            {{/each}}
        </div>
    <button type="submit" class="btn btn-success">Lưu</button>
</form>
