
<div class="row-fluid">
    <a href="/{{majors}}/insert" class="btn btn-success">Thêm dữ liệu</a>
</div>
<div class="get">
    <table style="width: 100%" class="table-bordered" border="1">
        <tr>
            <th>Tiêu đề</th>
            <th>Từ khóa của tiêu đề</th>
            <th>Link bài viết</th>
            <th></th>
        </tr>
            {{#each items}}
            <tr>
                <td style="width: 300px">{{this.title}}</td>
                <td>{{this.intent}}</td>
                <td>{{this.url}}</td>
                <td>
                    <button id="btnXoa" onclick="if(confirm('Bạn muốn xóa dòng dữ liệu \n {{this.title}} ?')){window.location.href='/cntt/delete/{{this._id}}'}" ondblclick="document.getElementById('myModal').style.display = 'block'; " class="btn btn-danger">Xóa</button>
                    <a href="/cntt/update/{{this._id}}" class="btn btn-info">Sửa</a>
                </td>
            </tr>
            {{/each}}
    </table>
</div>


